{% extends "page.twig" %}

{% block content %}

 <section>
  <div 
    style="background-image: url('{{ theme.link }}/assets/img/products-page-hero.png');"
    class="lfl-section lfl-hp-hero pt-12">
    <div class="lfl-page-hero lfl-page-hero--white products">
      <div class="lfl-page-hero__content">
      {% include "partial/page-hero-blue.twig" %}
      </div>
    </div>
  </div> 
</section>

<section class="bg-white py-12">
  <div class="lfl-section">
    <h2 class="eyebrow pb-6 md:pb-0 md:mb-0">{{post.meta("title")|default(post.title)}}</h2>
      {% for brand in brands %}
        <div id="brand-{{brand.id}}" class="lfl-brand">
          <h2 class="lfl-brand__image">
            <img src="{{get_image(brand.meta('images').our_brands).src}}" alt="{{brand.title}}" />
          </h2>
          <p class="lfl-brand__strapline">&ldquo;{{brand.meta('brand_strapline')}}&rdquo;</p>
          <hr class="lfl-page-break my-10 w-1/3 mx-auto">
          <div class="lfl-brand__description">{{brand.meta('brand_description')}}</div>
          
          <div class="lfl-brand-product-container">
          {% for product in brand.meta('products') %}
            <div class="lfl-brand-product">
              <div class="lfl-brand-product__header">
                <div>
                  <h3 class="text-blue-700">{{product.product_title}}</h3>
                  <p class="lfl-heading-m text-blue">{{product.product_strapline}}</p>
                </div>
                <div class="lfl-brand-product__image">
                  <img src="{{get_image(product.product_image).src}}" alt="{{product.product_title}} product image" />
                </div>
              </div>
              <p class="max-w-prose">{{product.product_description}}</p>
              <div class="lfl-content">{{product.product_key_info}}</div>
            </div>
          {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
</section>

{% endblock %}
