{% extends "base.twig" %}

{% block content %}
	<section 
    {% if post.meta('main_background_image') -%} 
      style="background-image: url('{{ get_image(post.meta('main_background_image')).src }}');" 
    {% else %} 
      style="background-image: url('{{ theme.link }}/assets/img/hp-hero-bg.svg');" 
    {% endif %} 
    class="lfl-hp-hero lfl-section pb-6">
      <div class="lfl-hp-hero__intro-panel text-white">
        <div class="lfl-heading-s xs:lfl-heading-m sm:lfl-heading-l pb-12">{{post.meta('subtitle')}}</div>
        <a href="{{post.meta('learn_more_link')}}" class="lfl-link-button lfl-link-button--light">Learn more
          <span class="sr-only">about Little Fish Labs</span>
        </a>
		</div>
	</section>

	<section class="bg-white pb-12">
	  <div class="lfl-section md:h-72">
      <div class="lfl-hp-quote bottom-border py-6">
        <div class="lfl-hp-quote__image">
          <img class="block" src="{{get_image(post.meta('quote_block').image).src}}" alt="{{get_image(post.meta('quote_block').image).alt|default(get_image(post.meta('quote_block').image).title)}}"/>
        </div>
        <div>
          <div class="lfl-hp-quote__quote mb-4">
            &ldquo;{{post.meta('quote_block').quote}}&rdquo;
          </div>
          <div class="lfl-hp-quote__name">
            {{post.meta('quote_block').name}}
          </div>
        </div>
      </div>
		</div>
	</section>

	<section class="bg-white pb-12">
	  <div class="lfl-section">
      <div class="bottom-border pb-12">
        <h2 class="eyebrow pb-6">What we do</h2>
        <div class="lfl-wwd-container">
          {% for item in post.meta('what_we_do_blocks') %}
            <article class="lfl-wwd">
              <div class="lfl-wwd__image">
                <img class="object-fill max-w-[100px] max-h-[100px]" src="{{ get_image(item.icon).src }}" aria-hidden="true"/>
              </div>
              <h3 class="lfl-wwd__title">{{ item.title }}</h3>
              <p class="lfl-wwd__detail">{{ item.detail }}</p>
              <div class="lfl-wwd__link">
                <a href="" class="lfl-link-button">Learn more
                  <span class="sr-only">about
                    {{ item.title }}</span>
                </a>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
	</section>

  <section class="bg-white pb-12">
	  <div class="lfl-section">
      <div class="bottom-border pb-12">
        <h2 class="eyebrow mb-0">Our Brands</h2>
        <p class="lfl-heading-xs text-blue-700">Lorem ipsom dolor sit amet</p>
        <p class="max-w-prose mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eleifend leo ac hendrerit posuere. Praesent sed placerat nisi.</p>

        <div class="lfl-hp-brands-container">
        {% for brand in get_posts(post.meta('brands')) %}
          <article class="lfl-hp-brand">
            <div class="lfl-hp-brand__image">
              <img src="{{get_image(brand.meta('images').homepage).src}}" alt="Logo for {{brand.title}}" />
            </div>
            <div class="lfl-hp-brand__content">
              <div>
                {{brand.meta('brand_description')}}
              </div>
              <a href="{{post.meta('our_brands_page')|default("/our-brands")}}#brand-{{brand.id}}" class="lfl-link-button mb-0">Learn more
                <span class="sr-only">about {{brand.title}}</span>
              </a>
            </div>
          </article>
        {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white pb-12 overflow-hidden">
	  <div class="lfl-section">
      <div class="bottom-border pb-0">
        <h2 class="eyebrow mb-0">{{post.meta('section_title')}}</h2>
        <p class="lfl-heading-xs text-blue-700">{{post.meta('section_subtitle')}}</p>
        <p class="max-w-prose mb-8">{{post.meta('section_introduction')}}</p>
        <div class="glide">
          <div data-glide-el="track" class="glide__track">
            <ul class="glide__slides">
              {% for team_member in get_posts(post.meta('team_members')) %}
              <li class="glide__slide">
                <article class="lfl-hp-team-member">
                  <div class="lfl-hp-team-member__image">
                    <img src="{{get_image(team_member.meta('member_image')).src}}" alt="Piciture of {{team_member.title}}" />
                  </div>
                  <div class="lfl-hp-team-member__content">
                    <h3 class="lfl-hp-team-member__title">{{team_member.title}}</h3>
                    <p class="lfl-hp-team-member__role">{{team_member.role}}</p>
                    <p class="mb-4 min-h-[7.5rem]">{{team_member.short_bio|default(team_member.member_bio)|excerpt(30)}}</p>
                    <a class="lfl-link-button" href="">Learn more<span class="sr-only">about {{team_member.title}}</span></a>
                  </div>
                </article>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="lfl_glide-controls" data-glide-el="controls">
            <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M0 12l10.975 11 2.848-2.828-6.176-6.176H24v-3.992H7.646l6.176-6.176L10.975 1 0 12z"></path>
              </svg>
            </button>

            <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path>
              </svg>
            </button>
          </div>
        </div>


      </div>
    </div>
  </section>


{% endblock %}
