{% extends "base.twig" %}

{% block content %}
	<section 
    style="background-image: url('{{ theme.link }}/assets/img/hp-hero.svg');" 
    class="lfl-hp-hero lfl-section pb-6">
      <div class="lfl-hp-hero__intro-panel text-white">
        <div class="lfl-heading-s xs:lfl-heading-m sm:lfl-heading-l pb-12">{{post.meta('subtitle')}}</div>
        <a href="{{post.meta('learn_more_link')}}" class="lfl-link-button lfl-link-button--lg lfl-link-button--white-solid">Learn more
          <span class="sr-only">about Little Fish Labs</span>
        </a>
		</div>
	</section>

	<section class="bg-white pb-12">
	  <div class="lfl-section md:h-72">
      <div class="lfl-hp-quote py-12">
        <div class="lfl-hp-quote__image">
          <img class="block" src="{{get_image(post.meta('homepage_quote').image).src}}" alt="{{get_image(post.meta('homepage_quote').image).alt|default(get_image(post.meta('homepage_quote').image).title)}}"/>
        </div>
        <div>
          <div class="lfl-hp-quote__quote">
            {{post.meta('homepage_quote').quote}}
          </div>
          <div class="lfl-hp-quote__name mb-6">
            {{post.meta('homepage_quote').name}}
          </div>
          <a href="{{post.meta('homepage_quote').link}}" class="lfl-link-button mb-0">Learn more</a>
        </div>
      </div>
      <hr class="lfl-page-break w-2/3 sm:w-1/2 mx-auto">
		</div>
	</section>

	<section class="bg-white">
	  <div class="lfl-section pb-12">
        <h2 class="eyebrow pb-6">What we do</h2>
        <div class="lfl-hp-wwd-container">
          {% for item in post.meta('wwd_blocks') %}
            <article class="lfl-hp-wwd">
              <div class="lfl-hp-wwd__image">
                <img class="object-fill max-w-[100px] max-h-[100px]" src="{{ get_image(item.wwd_icon).src }}" aria-hidden="true"/>
              </div>
              <h3 class="lfl-hp-wwd__title mb-auto pb-6">{{ item.post_title }}</h3>
              <div class="lfl-hp-wwd__link">
                <a href="{{post.meta('what_we_do_link')}}#wwd-{{item.ID}}" class="lfl-link-button">Learn more
                  <span class="sr-only">about
                    {{ item.post_title }}</span>
                </a>
              </div>
            </article>
          {% endfor %}
        </div>  
      <hr class="lfl-page-break mx-auto mt-12">
    </div>
	</section>

  <section class="bg-white pb-12">
	  <div class="lfl-section">
      <h2 class="eyebrow mb-0">Our Brands</h2>
      <p class="lfl-heading-xs text-blue-700">{{post.meta('hp_ob_section_subtitle')}}</p>
      <p class="max-w-prose mb-8">{{post.meta('hp_ob_section_description')}}</p>

      <div class="lfl-hp-brands-container">
      {% for brand in get_posts(post.meta('brands')) %}
        <article class="lfl-hp-brand">
          <div class="lfl-hp-brand__image">
            <img src="{{get_image(brand.meta('images').homepage).src}}" alt="Logo for {{brand.title}}" />
          </div>
          <div class="lfl-hp-brand__content">
            <div>
              {{brand.meta('brand_description')}}
            </div>
            <a href="{{post.meta('our_brands_page')|default("/our-brands")}}#brand-{{brand.id}}" class="lfl-link-button lfl-link-button--white mb-0">Learn more
              <span class="sr-only">about {{brand.title}}</span>
            </a>
          </div>
        </article>
      {% endfor %}
      </div>
      <hr class="lfl-page-break mx-auto mt-16">
    </div>
  </section>

  <section class="bg-white pb-12 overflow-hidden">
	  <div class="lfl-section">
      <h2 class="eyebrow mb-0">About</h2>
      <p class="lfl-heading-xs text-blue-700">{{post.meta('hp_about_section_subtitle')}}</p>
      <p class="max-w-prose mb-8">{{post.meta('hp_about_section_introduction')}}</p>
      <div class="glide">
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides">
            {% for team_member in get_posts(post.meta('team_members')) %}
            <li class="glide__slide">
              <article class="lfl-hp-team-member">
                <div class="lfl-hp-team-member__image">
                  <img src="{{get_image(team_member.meta('images').home_page).src}}" alt="Piciture of {{team_member.title}}" />
                </div>
                <div class="lfl-hp-team-member__content">
                  <h3 class="lfl-hp-team-member__title">{{team_member.title}}</h3>
                  <p class="lfl-hp-team-member__role">{{team_member.role}}</p>
                  <p class="lfl-hp-team-member__description">{{team_member.short_bio|default(team_member.member_bio)|excerpt(30)}}</p>
                  <a class="lfl-link-button mb-0" href="{{post.meta('meet_the_team_page')}}#tm-{{team_member.id}}">Learn more<span class="sr-only">about {{team_member.title}}</span></a>
                </div>
              </article>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="lfl_glide-controls" data-glide-el="controls">
          <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
            <svg width="60" height="60" aria-labelledby="lfl-arrow-l" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 171.23 179.77">
              <title id="lfl-arrow-l">Left</title>
              <circle class="bg" cx="85.4" cy="90.4" r="57.1" fill="none" stroke="#084ff9" stroke-miterlimit="10" stroke-width="2.942"/>
              <path class="fg" fill="#1301CF" d="M71.33 107.75 40.45 90.37l30.49-18.05 30.48-18.05.39 35.43.39 35.43z" class="st1"/>
              <path fill="#35A7E3" d="m112.93 95.96-12.01-6.76 11.86-7.02 11.86-7.03.15 13.79.15 13.78z" class="st1"/>
              <circle cx="67.8" cy="89.92" r="5.85" fill="#35a7e3"/>
            </svg>
          </button>

          <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
            <svg width="60" height="60"  aria-labelledby="lfl-arrow-r"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 171.23 179.77">
              <title id="lfl-arrow-r">Right</title>
              <circle class="bg" cx="85.4" cy="90.4" r="57.1" fill="none" stroke="#084ff9" stroke-miterlimit="10" stroke-width="2.942"/>
              <path class="fg" fill="#1301CF" d="m99.48 107.75 30.87-17.38-30.49-18.05-30.48-18.05-.39 35.43-.39 35.43z" class="st1"/>
              <path fill="#35A7E3" d="m57.87 95.96 12.01-6.76-11.86-7.02-11.86-7.03-.15 13.79-.15 13.78z" class="st1"/>
              <circle cx="103.01" cy="89.92" r="5.85" fill="#35a7e3"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
