{% extends "base-white.twig" %}

{% block content %}
  <div class="bg-white pb-12">
    <section class="lfl-section pt-12">
      <div class="lfl-page-hero xl:min-h-[430px]">
        <div class="lfl-page-hero__content">
          {% include "partial/page-hero.twig" %}
          {% if not post.meta('large_quote')|trim == "" %}
          <p class="lfl-heading-s sm:lfl-heading-m text-blue pb-4 mt-6 md:mt-12">&ldquo;{{post.meta('large_quote')}}&rdquo;</h2>
          {% endif %}
        </div>
        <div class="lfl-page-hero__image" aria-hidden="true">
          <img src="{{get_image(post.meta('hero_image')).src}}" alt="{{get_image(post.meta('hero_image').image).alt|default(get_image(post.meta('hero_image')).title)}}" />
        </div>
      </div>
      <hr class="mt-10 md:mt-16 md:mb-4 lfl-page-break">
    </section>  
    
    <section class="lfl-section pt-12">
      <h2 class="eyebrow md:float-right w-1/2">Our team</h2>
    {% for team_member in get_posts(post.meta('team_members')) %}
      <article id="tm-{{team_member.id}}" class="lfl-about-team-member">
        <div class="lfl-about-team-member__image">
          <img src="{{get_image(team_member.meta('images').about_page).src}}" alt="Picture of {{team_member.title}}" />
        </div>
        <div class="lfl-about-team-member__content flex-1">
          <h3 class="lfl-about-team-member__title">{{team_member.title}}</h3>
          <p class="lfl-about-team-member__role">{{team_member.role}}</p>
          <p class="mb-0">{{team_member.member_bio}}</p>
        </div>
      </article>
      {% if not loop.last %}
      <hr class="lfl-page-break  my-12 md:mt-0 w-1/2 mx-auto">
      {% endif %}
    {% endfor %}
    </section>
  </div>
{% endblock %}
