{% extends "base.twig" %}

{% block content %}

  <div class="bg-white pb-12">
	  <section class="lfl-section pt-12">
      <div class="lfl-page-hero">
        <h1>
          <div class="eyebrow mb-0">{{post.title}}</div>
          <div class="lfl-heading-s xs:lfl-heading-m sm:lfl-heading-l text-blue-600 mb-8">{{post.meta('subtitle')|default("Meet the team")}}</div>
        </h1>
        <div class="max-w-prose mb-12">{{post.meta('content')|default(post.content)}}</div>
        <p class="lfl-heading-s xs:lfl-heading-m sm:lfl-heading-l text-blue">&ldquo;{{post.meta('hero_quote')|default("We’re professional disruptors, helping humans connect with wellbeing")}}&rdquo;</h2>
      </div>
      <hr class="mt-16 mb-6 lfl-page-break">
    </section>

    <section class="lfl-section pt-12">
      <h2 class="eyebrow md:float-right w-1/2">{{post.meta('team_members_section_title')|default("Our team")}}</h2>
    {% for team_member in get_posts(post.meta('team_members')) %}
      <article id="team-member-{{team_member.id}}" class="lfl-about-team-member">
        <div class="lfl-about-team-member__image">
          <img src="{{get_image(team_member.meta('images').about_page).src}}" alt="Picture of {{team_member.title}}" />
        </div>
        <div class="lfl-about-team-member__content flex-1">
          <h3 class="lfl-about-team-member__title">{{team_member.title}}</h3>
          <p class="lfl-about-team-member__role">{{team_member.role}}</p>
          <p class="mb-0">{{team_member.member_bio}}</p>
        </div>
      </article>
      {% if not loop.last %}
      <hr class="lfl-page-break  my-12 md:mt-0 w-2/3 mx-auto">
      {% endif %}
    {% endfor %}
    </section>
  </div>

{% endblock %}
