
    <nav id="nav-main" class="lfl-nav-main">
    {% if menu %}
      <ul class="">
      {% for item in menu.get_items %}
        <li class="{{ item.classes | join(' ') }}">
          <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    </nav>
    <div class="lfl-nav-mobile md:hidden lfl-js-nav-mobile">
      <button class="lfl-nav-mobile__open mobile-nav-open active lfl-icon lfl-icon--hamburger" aria-expanded="false" aria-controls="nav-menu-ex-1">
        <span class="sr-only">Menu</span>
        <svg aria-hidden="true" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="#lfl-svg-hamburger" />
        </svg>
      </button>
      <div class="lfl-nav-overlay lfl-js-nav-mobile__overlay">
        <button class="lfl-nav-overlay__close lfl-icon">
          <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use href="#lfl-svg-cross" />
          </svg>
        </button>
        <nav id="nav-mobile" class="lfl-nav-mobile">
          <div class="px-fluid-base px-3 sm:px-0 lfl-nav-mobile__logo lfl-logo mb-12">
            <a href="/">  
              <svg width="100%" aria-labelledby="litle-fish-title" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1080 274">
                <title id="litle-fish-title">Little Fish Labs</title>
                <use href="#little-fish-lab-logo" /> 
              </svg>
            </a>
          </div>
          {% if menu %}
            <ul>
            {% for item in menu.get_items %}
              <li class="{{ item.classes | join(' ') }}">
                <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </nav>
      </div>
    </div>
